# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=sk_test_51Mjtq6E9S3GXg3TlO6Y1JvJBPK1I28mhGPIy8g7e3XA8ctfDl7gZhZUt25i7ONLHfaNcRHi89CQouulOElE58Npc00rRmOXQ5v
STRIPE_SECRET_KEY=sk_test_51Mjtq6E9S3GXg3TlO6Y1JvJBPK1I28mhGPIy8g7e3XA8ctfDl7gZhZUt25i7ONLHfaNcRHi89CQouulOElE58Npc00rRmOXQ5v
STRIPE_WEBHOOK_SECRET=whsec_36f8087332b626efff63b8e3fb205151f08b8acf182a9af947c8a68ff2edab44
NEXT_PUBLIC_SEARCH_URL=http://localhost/search
NEXT_PUBLIC_AUTOCOMPLETE_URL=http://localhost/autocomplete
NEXT_PUBLIC_USER_URL=http://localhost/user